*, 
*::before, 
*::after { 
  box-sizing: border-box; 
} 
 
html { 
  block-size: 100%; 
} 
 
.page { 
  display: flex; 
  justify-self: center; 
  align-items: center; 
  inline-size: 1200px; 
  block-size: 100%; 
  margin: auto; 
  color: #fff; 
  font-family: "Fira Sans Condensed", sans-serif; 
  font-size: 18px; 
  background-color: #1b1919; 
} 
 
h1, 
h2, 
h3, 
h4, 
p, 
ul, 
ol, 
li, 
blockquote, 
fieldset { 
  margin: 0; 
  padding: 0; 
} 
 
ul, 
ol { 
  list-style: none; 
} 
 
.content { 
  display: flex; 
  inline-size: 1140px; 
  margin: 133px 30px; 
  gap: 30px; 
} 
 
/* Область видео с формой */ 
 
.result { 
  display: flex; 
  flex-direction: column; 
  padding-top: 74px; 
} 
 
.result__video-container { 
  position: relative; 
  width: 711px; 
  height: 386px; 
  margin-bottom: 15px; 
} 
 
.result__video { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
} 
 
.search-form { 
  display: flex; 
  justify-content: space-between; 
  align-items: start; 
} 
 
.search-form__checkbox-list { 
  display: flex; 
  gap: 15px; 
} 
 
.search-form__fieldset { 
  border: none; 
  display: flex; 
  flex-direction: column; 
} 
 
.search-form__fieldset-title { 
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400; 
  font-size: 18px; 
  padding-bottom: 5px;
} 
 
.search-form__textfield { 
  width: 225px; 
  height: 27px; 
  border: none; 
  border-top: 1px solid #fff; 
  border-bottom: 1px solid #fff; 
  border-right: 1px solid transparent; 
  border-left: 1px solid transparent; 
  background-color: transparent; 
  color: inherit; 
  font-family: inherit; 
  font-size: inherit; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
} 
 
.search-form__label { 
  display: flex; 
  align-items: center; 
  width: fit-content; 
  gap: 5px; 
  cursor: pointer; 
} 
 
/* * Титульный Заголовок */ 
 
.search-form__fieldset-title { 
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400; 
  font-style: Regular; 
  font-size: 18px; 
} 
 
.title { 
  min-width: 399px; 
  font-family: "Oswald", sans-serif; 
  font-weight: 700; 
  font-size: 75px; 
  line-height: 92%; 
  text-transform: uppercase; 
  margin-bottom: 25px; 
} 
 
.content__accent { 
  color: #545050; 
} 
 
/* Правая область с карточками */ 
 
.content__list-container { 
  display: flex; 
  position: relative; 
  flex-direction: column; 
  width: 399px; 
  height: 298px; 
  overflow-y: auto; 
  gap: 30px; 
} 
 
.content__details { 
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  height: 100%; 
  /* gap: 10px; */ 
} 
 
.content__list { 
  display: flex; 
  flex-direction: column; 
  gap: 27px; 
} 
 
.content__card-link { 
  display: block; 
  text-decoration: none; 
  color: inherit; 
  margin: 2px; 
} 
 
.content__video-card { 
  display: flex; 
  align-items: start; 
  justify-content: space-between; 
} 
 
.content__video-card-description-container { 
  flex-grow: 1; 
  flex-basis: 0; 
  overflow: hidden; 
} 
 
.content__video-card-title { 
  font-family: "Oswald", sans-serif; 
  font-size: 30px; 
  text-transform: uppercase; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  line-height: 1; 
  padding-bottom: 6px; 
} 
 
.content__video-card-description { 
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400; 
  font-size: 18px; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 4; 
  overflow: hidden; 
  line-height: 0.9; 
} 
 
.content__video-card-thumbnail { 
  width: 194px; 
  height: 103px; 
  object-fit: cover; 
  object-position: center; 
} 
 
/* Кастомный скроллбар */ 
.custom-scrollbar::-webkit-scrollbar { 
  width: 4px; 
} 
 
.custom-scrollbar::-webkit-scrollbar-track { 
  background: rgb(217 217 217 / 10%); 
} 
 
.custom-scrollbar::-webkit-scrollbar-thumb { 
  background-color: #d9d9d9; 
} 
 
.visually-hidden { 
  position: absolute; 
  inline-size: 1px; 
  block-size: 1px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%); 
  white-space: nowrap; 
} 
 
/* Состояние инпутов и чекбоксов  */ 
 
.search-form__textfield::placeholder { 
  color: rgb(255 255 255 / 0.7); 
} 
 
.search-form__textfield:active { 
  border-right-color: 1px solid #fff; 
  border-left-color: 1px solid #fff; 
} 
 
.search-form__textfield:focus { 
  outline: none; 
} 
 
.search-form__label:has(:not(:active):focus-visible) { 
  outline: 1px solid #fff; 
  outline-offset: 2px; 
} 
 
.search-form__pseudo-checkbox { 
  width: 19px; 
  height: 19px; 
  border: 1px solid #fff; 
  padding: 1px; 
  display: flex; 
} 
 
.search-form__pseudo-checkbox::after { 
  content: ""; 
  width: 15px; 
  height: 15px; 
  background: #fff; 
  opacity: 0; 
} 
 
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after { 
  opacity: 1; 
} 
 
.search-form__checkbox-list .search-form__label:hover { 
  text-decoration: underline; 
} 
 
/* Кнопка */ 
 
.button { 
  border: 1px solid #fff; 
  background-color: transparent; 
  cursor: pointer; 
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 700; 
  font-size: 18px; 
  text-align: center; 
  color: #fff; 
  padding: 6px; 
  min-height: 34px; 
} 
 
.search-form__submit-button { 
  width: 194px; 
  align-self: flex-end; 
} 
 
.more-button { 
  width: 390px; 
} 
 
.button:hover { 
  text-decoration: underline; 
} 
 
.button:active { 
  background-color: #545050; 
} 
 
button:focus { 
  outline: none; 
} 
 
.button:focus-visible { 
  outline: 1px solid #fff; 
  outline-offset: 2px; 
} 
 
/* Состояния карточек */ 
 
.content__card-link_current { 
  background-color: #545050; 
} 
 
.content__card-link:active { 
  background-color: #545050; 
} 
.content__card-link:hover { 
  text-decoration: underline; 
} 
 
.content__card-link:focus { 
  outline: none; 
} 
 
.content__card-link:focus-visible { 
  outline: 1px solid #fff; 
  outline-offset: 2px; 
} 
 